src/pycalphad_xml/UNIQUAC.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <include href="core.rng"/>
    <define name="UNIQUACConstituentArray">
        <element name="ConstituentArray">
            <oneOrMore>
                <element name="Site">
                    <optional>
                        <attribute name="id">
                            <data type="integer"/>
                        </attribute>
                    </optional>
                    <optional>
                        <attribute name="ratio">
                            <data type="double"/>
                        </attribute>
                    </optional>
                    <optional>
                        <attribute name="refid">
                            <data type="integer"/>
                        </attribute>
                    </optional>
                    <oneOrMore>
                        <element name="Constituent">
                            <attribute name="refid">
                                <data type="string"/>
                            </attribute>
                        </element>
                    </oneOrMore>
                </element>
            </oneOrMore>
        </element>
    </define>
    <define name="UNIQUAC.model" combine="choice">
        <element name="Model">
            <attribute name="type">
                <a:documentation>UNIversal QUAsichemial Chemical Model</a:documentation>
                <value>UNIQUAC</value>
            </attribute>
            <interleave>
                <ref name="UNIQUACConstituentArray"/>
                <optional>
                    <element name="ChemicalGroups">
                        <a:documentation>Mapping of species to integer chemical groups. Equal integers mean the species belong to the same group.</a:documentation>
                        <oneOrMore>
                            <element name="Constituent">
                                <attribute name="groupid">
                                    <data type="integer"/>
                                </attribute>
                                <attribute name="refid">
                                    <data type="string"/>
                                </attribute>
                            </element>
                        </oneOrMore>
                    </element>
                </optional>
            </interleave>
        </element>
        <zeroOrMore>
            <element name="Parameter">
                <attribute name="type">
                    <choice>
                        <value>UQCG</value><a:documentation>Gibbs energy of a specie</a:documentation>
                        <value>UQCT</value><a:documentation>Tau function in residual contribution of excess Gibbs energy</a:documentation>
                        <value>UQCQ</value><a:documentation>Surface-area paramter</a:documentation>
                        <value>UQCR</value><a:documentation>Volume paramter</a:documentation>
                        <value>UQCZ</value><a:documentation>Coordination number of a constituent</a:documentation>
                    </choice>
                </attribute>
                <interleave>
                    <optional>
                        <text/>
                    </optional>
                    <zeroOrMore>
                        <ref name="Interval"/>
                    </zeroOrMore>
                    <ref name="UNIQUACConstituentArray"/>
                    <optional>
                        <element name="Exponents">
                            <list>
                                <data type="float"/>
                                <data type="float"/>
                            </list>
                        </element>
                    </optional>
                </interleave>
            </element>
        </zeroOrMore>
    </define>
</grammar>